* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    height: auto;
    width: 100%;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}

.header,
.footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(151, 228, 202);
    padding-top: 2vh;
    text-align: center;
    line-height: 5vh;
}

.header p {
    font-size: 30px;
}

.footer ul {
    list-style: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.footer li:hover {
    cursor: pointer;
}

h1 {
    font-size: 70px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.719);
    box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
}

h2 {
    font-size: 35px;
    background-color: rgba(54, 54, 54, 0.644);
    height: auto;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("./images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 40%;
}

.section {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#section1 {
    height: auto;
    padding-top: 10%;
    background-color: rgb(163, 138, 108);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 50%;
}

.card {
    padding-bottom: 3em;
}

.card img {
    border-radius: 5px;
}

#section2 {
    background-image: url("./images/shampoo.jpg");
    padding-top: 40%;
}

@media screen and (min-width: 400px) {
    .hero {
        padding-top: 20%;
    }
}

@media screen and (min-width: 520px) {
    #section1 {
        padding-top: unset;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .card {
        padding: 3em;
    }
    #section2 {
        padding-top: 20%;
    }
    .footer ul {
        width: 70%;
        padding-left: 30%;
    }
}